{% extends 'base.html' %}
{% load static %}
{% block content %}
      <h1 style="padding-left:100px;">This is biology</h1><br><br>
<h3 style="padding-left:20px;">


What is biology?<br><br>

So, other than diverse, what is biology? The core strands that unite all the various disciplines and sub-disciplines
      of the subject are: the study and characterization of living organisms and the investigation of the science behind
      living things. This means most biology courses will have core modules in the first year focusing on subjects such as
      cell theory and molecular biology, evolution, physiology and adaptation, gene theory, and homeostasis.<br><br>

Having established some basic understanding of the core principles of biology, you’ll be able to choose an area in
      which to specialize. Options include: anatomy, biophysics, cell and molecular biology, computational biology,
      ecology and evolution, environmental biology, forensic biology, genetics, marine biology, microbiology, molecular
      biosciences, natural science, neurobiology, physiology, zoology and many others.<br><br>

These courses may be offered as electives in a wider biology degree course – a good option for those who are not
      yet sure on what area they wish to focus – or as dedicated degree programs.<br><br>

What to expect from biology degrees<br><br>



Typically as a first-year biology student, you should expect to attend a considerable number of lectures,
      with accompanying practical work and write-ups. For subjects like cellular biology, genetics and epidemiology,
      practical work is likely to be lab-based, while ecology or environmental biology students will be expected to do field work.



In subsequent years, as you get more specialized, you may end up spending less time on lab work – or
      choose to concentrate almost entirely on working in the lab. Towards the end of your degree you’ll
      typically be required to undertake a final research project. At some universities this will be a group
      effort, while at others you can pick individual projects from a pre-approved list.

As your degree progresses, therefore, you should expect to spend most of your time either working in the
      lab and/or undertaking personal research – good practice to start off your biology career.

Generally, undergraduate biology degrees run for three or four years (depending on the country),
      with some universities offering a year abroad or work experience opportunities. Some undergraduate
      courses may last an extra year, allowing students to graduate with an MSc instead of BSc.

Whichever field of biology you choose to focus on, you should be ready to immerse yourself fully in an
      intensive course, in a complex and rapidly evolving subject area.<br><br>

Key Skills<br><br>
Common skills gained from a biological science degree include:

General laboratory skills, including how to use laboratory equipmentAbility to confidently analyze and draw conclusions from complex data sets, and general analytical skillsTeamwork and strong communication skills, through group projects and seminarsOrganizational and time management skillsAn understanding of scientific literature and how to use itInitiative and independenceAn awareness and insider’s understanding of ethical issues and commercial contexts relevant to scientific researchNumeracy and technology literacyPresenting findings in written and spoken form, to an acceptable academic standard; report writing and presentationsFramework for lifelong learning</h3>
{% endblock %}