{% extends 'base.html' %}
{% load static %}
{% block content %}
      <h1 style="padding-left:100px;">This is commerce</h1><br><br>
<h3 style="padding-left:20px;">Commerce is for students who want to develop their career in finance relates fields.
      Students who have interest in the financial, transactional, trading economic components of society can take their
      journey ahead through studying the commerce subject. Keep reading to know more!<br><br>

The field of commerce is vast and it involves an in-depth study of the business world.
      The field offers numerous specializations you can choose from. The commerce subject
      includes studies in areas such as Business Administration, Applied Economics, E-Commerce,
      Financial Accounting, Banking, and Insurance, Accounting, and Finance, Banking, and Finance,
      Accounting and Taxation, Actuarial Science, Human Resources, Entrepreneurship, Accounting, Auditing,
      etc. can be taken up as specializations. These courses are available full-time as well as part-time.<br><br>




Bachelor of Commerce (B. Com)<br>
Apart from B.Com, there are various other undergraduate commerce courses such as BBA, CA, CS,
      and BSc in a commerce specialization.
B.com is a three-year undergraduate degree program in commerce. It is a combination of various
      components of the commerce subject, business acumen, managerial skills, business analytics as
      well as accounting and finance. The main subjects that you will learn in this course are statistics,
      economics, finance, cost accounting, English, human resources, law, marketing, accountancy, computer science,
      management, etc. <br>

You will be taught practical methods in addition to textual information.
      The course also includes case studies and extensive projects, as well as
      assignments that will help you develop your problem-solving skills. Moreover,
      a B.Com course also covers other important skills that will enable you to handle the
      different problems that you may face in the business domain. <br><br>

Masters of Commerce (M.Com) <br><br>
M. Com is a two-year post-graduate program that is divided into four semesters each year having 2 semesters.
      You have the option of selecting a specialization depending on your area of interest and career prospects.<br><br>

A few subjects of specialization are mentioned below: <br><br>

Accounting & Commerce
Economics
Accountancy
Taxation
Banking & Finance
Statistical Analysis
Financial Management and Policy
Accounting Theory and Practices
Managerial accounting
If you are someone who is looking to pursue a course after B.Com,
      then this course may be the best option for you. It will provide you with an exceptional
      in-depth operational knowledge of the economy of the country, its revenue, trade as well
      as taxes. Although these subjects are already among the bachelor’s commerce subjects,
      they are explained in depth in an M. Com course.</h3>
{% endblock %}