{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 style="padding-left:100px;">This is Computer Science Department</h1><br><br>
<h3 style="padding-left:20px;">Computer science focuses on the development and testing of software and software systems.
It involves working with mathematical models, data analysis and security, algorithms,
and computational theory. Computer scientists define the computational principles that
    are the basis of all software.<br><br>
    What is a computer science degree?<br>
In a nutshell, computer science degrees deal with the theoretical foundations of information
    and computation, taking a scientific and practical approach to computation and its applications.
    Computation is defined as any type of calculation or use of computing technology that follows well-defined
    models (such as algorithms and protocols) in the practice of information processing (which in turn is defined
    as the use of these models to transform data in computers).<br><br>

Computer science is considered by many of its practitioners to be a foundational science - one which makes other
    knowledge and achievements possible. The study of computer science involves systematically studying methodical
    processes (such as algorithms) in order to aid the acquisition, representation, processing, storage, communication
    of, and access to information. This is done by analyzing the feasibility, structure, expression and mechanization
    of these processes and how they relate to this information. In computer science, the term ‘information’ refers
    usually to information which is encoded in bits and bytes in computer memory.<br><br>


Some higher education institutions may use computer science (CS) as an umbrella term to cover various specialist and
    vocational degrees involving computers and technology. You may also find the term computer science being used to
    refer to information technology (IT) degrees, although many institutions now distinguish between the two (exactly
    how and where they draw this line varies). Make sure to check your chosen university’s course details closely.<br><br>

Top universities for computer science
The QS World University Rankings by Subject includes a ranking of the world’s top universities for computer science.
    The table can be sorted by location or based on the different criteria used to compile the ranking (including
    academic reputation, employer reputation and research citations).<br><br>

Entry requirements for computer science degrees<br>
Entry requirements for computer science degrees usually emphasize further mathematics,
    with some institutions asking for a background in physics. A background in psychology
    or sociology can provide an added dimension to your studies, as you would
    have gained an understanding of how humans process information, while other natural sciences may also be helpful.<br><br>

Undergraduate applicants for computer science degrees will not
    usually be expected to have formally studied computer science
    before university. However, it is recommended that you pick up a programming language,
    to gain an understanding of what is involved. While generally accepted beginner languages
    include Python and C++, Haskell, Java and Pascal are all languages you may come across
    during your studies. On the other hand, you may find some institutions discourage students
    from learning programming beforehand to avoid students learning ‘bad’ programming habits early on.
    Some institutions offer joint courses, in which computer science is studied alongside subjects
    such as mathematics, engineering and computing.<br><br>


<u>Key Skills</u><br><br>
Common skills gained with a computer science degree include:<br>

Specialist knowledge of computer science theories, methods, practices and
    strategyUnderstanding of a range of programming languagesUnderstanding of computing architecture, construction,
    engineering and designUnderstanding of computing software, tools, packages and designWide understanding of a
    range of computer-based systemsAwareness of and ability to cope with and adapt to rapid technological changesExcellent
    mathematics/numeracy skillsGood foundation in physicsAbility to understand complex numerical dataTeamwork and leadership
    skillsAnalytical and critical thinking skillsCreative thinking skillsTime management and organization skillsGeneral
    commercial awarenessWritten and oral communication skills, including presentations and report writingAbility to negotiate,
    persuade, and present reasoned argumentsStrong problem-solving, analysis and decision-making abilities

 </h3>

{% endblock %}
