{% extends 'base.html' %}
{% load static %}
{% block content %}
 <h1>hello</h1>
  <form action="" method="post" id="StudentForm" data-courses-url="{% url 'ajax_load_courses' %}">
   {% csrf_token %}
  <div class="fieldWrapper" style="text-align:left; padding-left:600px; ">
      <label>Name</label>
     {{ form.name}}<br><br>
      <label>Department</label>
     {{ form.department}}<br><br>
      <label>Course</label>
     {{ form.course}}<br><br>
      <label>Age</label>
     {{ form.age}}<br><br>
      <label>Date of Birth</label>
     {{ form.dob}}<br><br>
      <label>Address</label>
     {{ form.address}}<br><br>
      <label>Email</label>
     {{ form.email}}<br><br>
      <label>Gender</label>
     {{ form.gender}}<br><br>
      <label>Purpose</label>
     {{ form.purpose}}<br><br>
      <label>Materials Provide</label><br>
      <div style="padding-left:130px;">
      <label>Notebook</label>
     {{ form.notebook}}<br>
      <label>Pen</label>
     {{ form.pen}}<br>
      <label>Exampaper</label>
     {{ form.exampaper}}<br>
          </div><br><br>

    <input type="submit" value="Submit" style="margin-left:150px;" >
</div>

<!--{{ form.as_p}}&ndash;&gt;-->


    </form>
<h3>
    {% for i in messages %}
    {{i}}
    {% if i %}
    <a class="btn btn-danger" href="{% url 'hom' %}" style="text-align:center; margin-left:600px; " > Submit</a>
    {% endif %}
    {% endfor %}
</h3>

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $("#id_department").change(function(){
       const url=$("#StudentForm").attr("data-courses-url");
       const departmentId = $(this).val();

       $.ajax({
             url:url,
             data:{
                   'department_id':departmentId
                   },
             success:function(data){
<!--                         $("#id_course").html(data);-->


                           let html_data = '<option value="">---------</option>';
                           data.forEach(function (course) {
                                 html_data += `<option value="${course.id}">${course.name}</option>`
                            });
                           console.log(html_data);
                           $("#id_course").html(html_data);

                    }
                     });

    });
</script>

{% endblock %}
