{% extends 'base.html' %}
{% load static %}
{% block content %}
      <h1 style="padding-left:100px;">This is Humanities</h1><br><br>
<h3 style="padding-left:20px;">


Why is a Humanities Degree a Good Choice?<br><br>
Earning a BA in Applied Humanities will enhance your curiosity and challenge you to think creatively and critically.
      If you are passionate about a specific career field, an Applied Humanities degree combines that focus with
      the core elements of a well-rounded education. You will not only amplify your professional skills but also
      your personal skills so you can go far in your career. <br><br>

What Outcomes and Skills Will I Gain?<br><br>
As a humanities student, you will strengthen your analytical and problem-solving skills, among other critical skills
      such as writing and enhancing research abilities. Additionally, if you pursue a BA in Applied Humanities,
      you will study and practice a variety of organizational, collaborative, and leadership skills that are most often
      used in administrative contexts. This includes the development of mission/vision/outreach plans, commercial sponsorships,
      customer and project management and public speaking. <br><br>

Humanities Careers<br><br>
Let’s get to the real question. You’re probably wondering, what kind of career and salary can I expect with a humanities degree?
      The good news is that a humanities degree is applicable to a vast range of career fields. The versatility of a humanities
      degree can prepare you to work in fields such as education, business, government, library science, law and more.
      This Indeed article highlights 20 diverse career opportunities in the humanities and social sciences!<br><br>

Is a Humanities Degree Worth It?<br><br>
A background in the humanities can never hurt considering that you will think creatively about how to
      apply your abilities to different industries. Plus, the soft skills that you will learn like research,
      communication and critical thinking are guaranteed to appeal to employers in every sector.

Nowadays, most universities require multiple humanities courses in their general education curriculum,
      demonstrating how valuable these skills are to your education.


</h3>

{% endblock %}