{% extends 'base.html' %}
{% load static %}
{% block content %}
      <h1 style="padding-left:100px;">This is physics</h1><br><br>

<h3 style="padding-left:20px;">What to expect from a physics degree<br><br>
Alongside practical work and experimentation, physics degrees will also include lots of
      theoretical learning and complex mathematics – so make sure that’s something you’re prepared for.
      Physics students will learn about the history of the profession and the physicists who paved the way
      for our modern understanding of the world. Often this will be accompanied by introductions to various
      essential principles and laws, which in turn will be divided into a number of more specialized study modules.<br><br>

Key physics topics include electricity and magnetism, space and time, thermodynamics, quantum physics,
      relativity, geophysics, fluid dynamics, astronomy and geology, to name but a few. First year studies
      will focus on the fundamentals of classic and modern physics, plus a whole lot of mathematic formulae.
      As you progress through your physics degree you will move on to more complex mathematics, as well as more
      complex modern theorems such as quantum and relativity.<br><br>

Towards the latter part of your degree, you’ll have more opportunities to choose your own specializations,
      perhaps with certain types of physics jobs in mind. At the final stage, you’ll most likely be tasked
      with completing a research project, independently or within a group.<br<br>

Physics degree entry requirements<br><br>
To study physics at university, it is likely that you’ll be required to have completed secondary-level
      qualifications (such as A-levels) in both physics and mathematics. An advanced mathematics qualification
      (such as ‘further’ or ‘higher’ mathematics) and an additional science, such as chemistry, may also aid your application.

Those who study physics will graduate in three or four years with a Bachelor of Science (BSc).
      Some universities offer the option to continue studying for an additional one or two years,
      graduating with a Master of Physics (MPhys) or a Master of Science (MSci). Alternatively a
      separate master’s program may be applied for after completing the bachelor’s degree.<br><br>


Key Skills<br><br>
Common skills gained from a physics degree include:<br>

Highly advanced numeracyComputer expertiseFamiliarity with current scientific softwareSpecialized
      knowledge of physics topicsAbility to grasp and analyze complex data setsAdvanced reasoning
      skillsAbility to construct logical argumentsGeneral research skillsPractical experimentation
      skillsA pragmatic and analytical approach to problem solvingClose attention to detailAbility to
      communicate complex ideasKnowledge of technical languageSelf-management, including planning and meeting deadlines</h3>
{% endblock %}